* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

.navbar-brand img {
    width: 60px;
}

.collapse button {
    background-color: #ef4444;
    color: white;
}

#banner img {
    height: 400px;
}

.nav-item:hover {
    background-color: #ef4444;
    color: white;
}