* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

.navbar-brand img {
    width: 60px;
}

.collapse button {
    background-color: #ef4444;
    color: white;
}

#banner img {
    height: 400px;
}

.carousel-item {
    width: 100%;
    height: 360px;
    object-fit: cover;
}