* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: justify;
}

body {
    background: url(../vtgh/background.jpg) no-repeat fixed;
    background-size: cover;
}

.navbar-brand,
.navbar-brand img {
    width: 120px;
}

.navbar {
    border: 2px solid rgb(18, 87, 38);
}

.nav-item:hover {
    color: rgb(240, 184, 1);
}

.btn img {
    width: 25px;
    height: 25px;
}

.img-fluid {
    height: 146px;
    object-fit: cover;
}

.carousel-item img {
    height: 300px;
    object-fit: cover;
}