* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    background: url(../img/background.png) no-repeat fixed;
    background-size: cover;
}


.nav-link:hover {
    background: black;
    color: white;
}

.navbar-nav {
    border-bottom: 2px solid brown;
}

footer {
    background: linear-gradient(rgb(208, 184, 184), rgb(226, 224, 224));
    color: brown;
}